<div class="col-md-4">
  <h4>User info</h4>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.get_profile_image %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>  
  
  <table class=user_table>
    <tr><th>name</th><th><%= @user.name %></th></tr>
    <tr><td>introduction</td><td><%= @user.introduction %></td></tr>
  </table></br>
  
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  
  <div class="row">
    <div class="btn-block edit_user" href="/users/edit">
      <div class= data-icon="user-gear" role="img">
        <path fill="currentColor"></path>
      </div>
    </div>
  </div>
  
  <h4>New book</h4>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
  	
    <p>Opinion</p>
    <%= f.text_area :body %></br>
  	<%= f.submit 'Create Book', {controller: 'books', action: 'show'} %>
  <% end %>
</div>