<h4>books show</h4>
<div class="container">
  <div class="row">
    
    <!-- 左側 -->
    <%= render 'books/common', books: @books %>
    
    <!-- 右側 -->
    <div class="col-md-8 offset-md-1">
      <h4>Book detail</h4>
        <table class="table">
          <tbody>
            <tr>
              <td><%= image_tag @user.get_profile_image %><br>
              <%=link_to @user.name, user_path(@user.id) %></td>
              
              <td><%=link_to @book.title, book_path(@book) %></td>
              
              <td><%= @book.body %></td>
              
              <% if current_user == @book.user %>
                <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-outline-secondary btn-block" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
              <% end %>

            </tr>
          </tbody>
        </table>
    </div> 
  </div>
</div>